@use "variables" as *;
@use "mixins" as *;

.call-modal {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  max-width: $sidebar-max-width;
  height: 100%;
  background-color: $color-white;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
}

.call-modal_opened {
    display: block;
}

.call-modal .button_send {
  margin-top: 0;
}