.footer__content {
  align-items: center;
  justify-content: center;
  font-family: $font-regular;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: $color-text-gray;
}

.footer__copyright,
.footer__developer,
.footer__link,
.footer__disclaimer {
  color: $color-text-gray;
  margin: 10px;
  text-decoration: none;
  text-align: center;
}

.footer__link {
  margin-left: 34px;
  padding: 26px;
}