@use "variables" as *;
@use "mixins" as *;

.header__container {
  background-color: $color-white;
  display: flex;
  height: 88px;
  width: 100%;
  justify-content: space-between;

  @media (min-width: 768px) {
    
    padding: 0 $container-padding-tablet;
  }
  @media (min-width: 1120px) {
    display: none;
}
}

.nav {
  display: flex;
  margin: 0 $container-padding-mobile;

  @media (min-width: 768px) {
    margin: 0 $container-padding-tablet;
  }
}

.nav__logo {
  width: 96px;
  height: 50px;
}

.nav__left {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  gap: 15px;
}

.nav__buttons {
  display: flex;
  gap: 12px;
  margin: 0;

  @media (min-width: 768px) {
    gap: 18px;
  }
}

.chat-buttons {
  display: none;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    padding: 20px 0;
    gap: 16px;
    align-items: center;
  }
}

.service-buttons {
  display: flex;
  gap: 15px;
  padding: 20px 0;
  list-style: none;
  align-items: center;

  &::before {
    content: "";
    display: flex;
    width: 2px;
    height: 32px;
    margin: 0 6px 0 0;
    background-color: $color-border;
  }

  @media (min-width: 768px) {
    &::before {
      margin-top: 0;
    }
  }

  @media (min-width: 1120px) {
    &::before {
      display: none;
    }
  }
}

.desktop {
  display: none;

  @media (min-width: 1120px) {
    display: flex;
    margin-right: 20px;
    padding: 0;
    gap: 24px;
    align-items: center;
    justify-content: flex-end;
  }
}

.content {
  
  margin-top: 20px;
  
  @media (min-width: 1120px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
  }
}

.content__title {
    display: flex;
    color: $color-text-dark;
    width: 288px;
    height: 40px;
    font-family:$font-bold;
    font-weight: 700;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: -0.6px;
    margin: 0 auto 0 0;
    
    
                
}
.content__title::before {
    display: inline-flex;
    content: "";
    margin-left: 0;
    margin-right: 16px;
    width: 4px;
    height: 40px;
    background-color:$color-accent;
   
  @include title-accent;

   &::before {
      margin: 0;
      margin-top: 10px;
   } 
  }
  .main-article {
  display: block;
  
@media (min-width: 768px) {
  display: flex;
  
}
}
.cription {
  display: block;
  height: auto;
  padding: 12px;
  margin: 10px;
}
.pic_img {
  width: 100%;
  padding-right: 12px;
  margin: 0;
  @media (min-width: 768px) {
    width:60%;
    margin: 18px 0;
  }
  
}