@use "variables" as *;
@use "mixins" as *;


.sidebar {
    position: fixed;
    width: $sidebar-width;
    max-width: $sidebar-max-width;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-white;
    z-index: 100;
    padding: 20px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: left $transition;

    @media (min-width: 1120px) {
    display: block;
    transform: translateX(-320px);
    
  } 
}
.sidebar_opened {
    display: block;
    left: 0;
}
.sidebar .header-page {
    display: flex;
    list-style-type: none;
    padding: 6px;
    gap: 15px;
}
 .sidebar .logo {
    margin-right: auto;

    @media (min-width: 1120px) {
     margin-right: 0;
     padding-left: 8px;
  }
    }
 .sidebar .button_search {
   margin-right: 0;
    }
 .menu-list {
  padding-top: 20px;
 }
 .footer-aside {
  align-items: end;
  margin-top: 200%;
  margin-bottom: 20px;
  @media (min-width: 1120px) {
    margin-top: 50%;
 }   
 }