@use "variables" as *;
@use "mixins" as *;

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: $color-overlay;
  z-index: 2;
  transition: $transition;
  display: none;
  pointer-events: auto;
}

.overlay.active {
    display: block;
}

form {
display: block;
padding: 20px 10px;
}

.send {
  width: 89px;
  height: 24px;
  color: $color-white;
  font-family: $font-bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}








